In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('241CleandataNOIncompletes.csv')

In [3]:
df.head()

,Group,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,...,20a,21a_Browser,21a_Version,21a_Operating System,21a_Resolution,22a_First Click,22a_Last Click,22a_Page Submit,22a_Click Count,mTurkCode
0,2,7/11/17 9:46,7/11/17 9:56,IP Address,98.232.116.238,100,601,True,7/11/17 9:56,R_2bTLUgDtdE9neLd,...,E) Friday,Chrome,59.0.3071.115,Windows NT 10.0,1120x700,16.207,93.311,93.643,6,495836
1,3,7/11/17 9:41,7/11/17 10:03,IP Address,204.52.135.124,100,1332,True,7/11/17 10:03,R_12M5kh04xdIFw5e,...,B) Monday,Chrome,59.0.3071.86,Windows NT 6.1,1536x864,10.499,120.931,121.864,6,489065
2,3,7/10/17 9:29,7/10/17 9:39,IP Address,73.254.83.211,100,569,True,7/10/17 9:39,R_1NU5yKb58Kn7GvL,...,E) Thursday,Chrome,59.0.3071.115,Windows NT 10.0,1920x1080,60.059,209.186,209.829,6,260422
3,3,7/11/17 9:35,7/11/17 10:04,IP Address,98.146.231.128,100,1689,True,7/11/17 10:04,R_2Bx0cD1QFJz4D9n,...,B) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1920x1080,14.740,216.488,217.087,6,60785
4,3,7/9/17 19:29,7/9/17 19:52,IP Address,65.183.218.6,100,1398,True,7/9/17 19:52,R_r7Sd4ykeDFOFnTH,...,B) Monday,Firefox,54,Windows NT 10.0,1920x1080,5.470,218.036,225.177,21,888418

In [4]:
list(df)
df['Group'].groupby(df['Group']).count()

Group
1    54
2    53
3    51
Name: Group, dtype: int64

In [5]:
df.drop(df.index[0])

,Group,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,...,20a,21a_Browser,21a_Version,21a_Operating System,21a_Resolution,22a_First Click,22a_Last Click,22a_Page Submit,22a_Click Count,mTurkCode
1,3,7/11/17 9:41,7/11/17 10:03,IP Address,204.52.135.124,100,1332,True,7/11/17 10:03,R_12M5kh04xdIFw5e,...,B) Monday,Chrome,59.0.3071.86,Windows NT 6.1,1536x864,10.499,120.931,121.864,6,489065
2,3,7/10/17 9:29,7/10/17 9:39,IP Address,73.254.83.211,100,569,True,7/10/17 9:39,R_1NU5yKb58Kn7GvL,...,E) Thursday,Chrome,59.0.3071.115,Windows NT 10.0,1920x1080,60.059,209.186,209.829,6,260422
3,3,7/11/17 9:35,7/11/17 10:04,IP Address,98.146.231.128,100,1689,True,7/11/17 10:04,R_2Bx0cD1QFJz4D9n,...,B) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1920x1080,14.740,216.488,217.087,6,60785
4,3,7/9/17 19:29,7/9/17 19:52,IP Address,65.183.218.6,100,1398,True,7/9/17 19:52,R_r7Sd4ykeDFOFnTH,...,B) Monday,Firefox,54,Windows NT 10.0,1920x1080,5.470,218.036,225.177,21,888418
5,2,7/9/17 19:56,7/9/17 20:15,IP Address,137.118.203.216,100,1167,True,7/9/17 20:15,R_2w4tUusC6UC1JxN,...,A) Monday,Firefox,54,Windows NT 10.0,1680x1050,33.275,184.295,186.029,5,611446
6,3,7/9/17 19:54,7/9/17 20:14,IP Address,24.20.124.0,100,1212,True,7/9/17 20:14,R_2ripy1WhY4Wd95F,...,B) Monday,Firefox,54,Windows NT 6.1,1920x1080,33.581,269.522,286.784,8,435468
7,2,7/10/17 9:43,7/10/17 9:57,IP Address,67.253.96.35,100,845,True,7/10/17 9:57,R_3hoJk7KH5pzXqEm,...,A) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1920x1080,5.983,126.224,127.069,19,441705
8,3,7/9/17 19:22,7/9/17 19:47,IP Address,107.10.81.235,100,1503,True,7/9/17 19:47,R_Y0rFrgB9PBqTvq1,...,B) Monday,Chrome,59.0.3071.115,Windows NT 6.1,1366x768,32.101,124.924,126.147,9,956205
9,2,7/11/17 9:46,7/11/17 10:03,IP Address,67.158.18.207,100,998,True,7/11/17 10:03,R_3DpT9jGV5QuWzgE,...,A) Monday,Firefox,54,Windows NT 6.1,1366x768,18.286,97.748,99.062,7,424006
10,2,7/9/17 19:38,7/9/17 19:57,IP Address,69.29.255.133,100,1191,True,7/9/17 19:57,R_yPGEHEaYRdPxQMp,...,A) Monday,Chrome,59.0.3071.104,Linux x86_64,1600x900,43.822,149.559,153.189,5,163242
11,3,7/11/17 9:30,7/11/17 9:46,IP Address,66.227.142.3,100,936,True,7/11/17 9:46,R_d6DlHP5WYxGwBKp,...,B) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1366x768,15.611,121.531,125.199,5,393344
12,1,7/10/17 9:38,7/10/17 9:52,IP Address,75.174.96.185,100,858,True,7/10/17 9:52,R_WlD9PNe4BT0QBJn,...,A) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1600x900,14.428,142.053,144.099,5,593395
13,2,7/9/17 19:28,7/9/17 19:43,IP Address,24.211.11.124,100,849,True,7/9/17 19:43,R_5oSlelAM03PPCal,...,A) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1920x1080,6.510,79.142,79.952,5,345061
14,2,7/10/17 9:37,7/10/17 9:44,IP Address,98.102.88.42,100,410,True,7/10/17 9:44,R_2Wx6tfAsuC61uCw,...,A) Monday,Firefox,54,Windows NT 6.1,1920x1080,3.809,39.343,40.448,6,675517
15,3,7/10/17 9:29,7/10/17 9:40,IP Address,72.228.42.128,100,640,True,7/10/17 9:40,R_ysU9xAPju4PKUOl,...,B) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1536x864,15.244,103.367,105.282,9,64
16,1,7/9/17 19:23,7/9/17 19:47,IP Address,68.42.175.49,100,1453,True,7/9/17 19:47,R_ymUhY9l2X9ThimJ,...,A) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1366x768,15.769,110.579,113.914,7,84919
17,2,7/9/17 19:22,7/9/17 19:48,IP Address,74.74.251.201,100,1544,True,7/9/17 19:48,R_QfvNeJAdgPNX3AR,...,D) Thursday,Chrome,59.0.3071.115,Windows NT 10.0,1366x768,2.216,13.951,15.361,10,378264
18,1,7/11/17 9:44,7/11/17 9:55,IP Address,104.14.110.135,100,677,True,7/11/17 9:55,R_1GykmDiiTk4bSM2,...,A) Monday,Chrome,59.0.3071.115,Windows NT 6.1,1600x900,18.850,139.956,141.902,8,529110
19,2,7/9/17 19:23,7/9/17 19:53,IP Address,66.190.21.153,100,1760,True,7/9/17 19:53,R_6D93jxAosbAOMGl,...,A) Monday,Firefox,54,Windows NT 10.0,1366x768,76.044,488.020,489.139,5,157045
20,1,7/9/17 19:22,7/9/17 19:39,IP Address,68.60.99.139,100,973,True,7/9/17 19:39,R_rf3pLJQs6PRx2IV,...,A) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1366x768,41.980,145.953,147.212,5,622667
21,1,7/9/17 19:22,7/9/17 19:35,IP Address,73.126.19.239,100,746,True,7/9/17 19:35,R_1hYJqMH5a7C8MFv,...,A) Monday,Chrome,59.0.3071.115,Windows NT 6.3,1600x900,25.000,75.572,75.754,3,626701
22,2,7/11/17 9:39,7/11/17 9:59,IP Address,68.36.199.27,100,1183,True,7/11/17 9:59,R_2DV7RtByDZnllsy,...,A) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1366x768,21.627,136.770,137.695,6,396889
23,3,7/11/17 9:29,7/11/17 9:53,IP Address,72.79.238.200,100,1436,True,7/11/17 9:53,R_3pax8zqpGskK5rn,...,B) Monday,Firefox,54,Macintosh,1152x720,137.834,297.847,299.266,6,407455
24,3,7/11/17 9:34,7/11/17 9:45,IP Address,208.126.198.32,100,625,True,7/11/17 9:45,R_a4VlmXozLIFEhoJ,...,B) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1920x1080,23.398,94.781,96.149,5,705392
25,3,7/9/17 19:22,7/9/17 19:37,IP Address,24.128.213.218,100,868,True,7/9/17 19:37,R_2z6F4RhM82p4Gx6,...,B) Monday,Firefox,54,Windows NT 10.0,1776x1000,19.194,182.926,196.130,5,900823
26,2,7/11/17 9:30,7/11/17 9:44,IP Address,73.211.168.236,100,823,True,7/11/17 9:44,R_vDNICijq3qZZFlL,...,A) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1920x1080,14.526,165.097,165.777,5,667481
27,3,7/10/17 9:36,7/10/17 9:58,IP Address,24.60.176.206,100,1294,True,7/10/17 9:58,R_3J1WrQ3ZUuUR8fm,...,B) Monday,Chrome,59.0.3071.115,Windows NT 10.0,2560x1080,39.366,227.067,229.367,7,645816
28,3,7/10/17 9:30,7/10/17 9:44,IP Address,99.111.60.205,100,865,True,7/10/17 9:44,R_3fUJ2Zfo6ounyZn,...,B) Monday,Chrome,57.0.2987.98,Windows NT 10.0,1152x720,15.769,141.306,145.187,10,396819
29,1,7/10/17 9:49,7/10/17 9:55,IP Address,71.227.121.46,100,391,True,7/10/17 9:55,R_1FJJvunHI1GbjGL,...,B) Tuesday,Chrome,59.0.3071.115,Windows NT 10.0,1920x1080,8.156,60.874,61.922,6,784852
30,1,7/10/17 9:42,7/10/17 10:03,IP Address,24.12.154.253,100,1276,True,7/10/17 10:03,R_2BldN0jo9wsJRrn,...,A) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1366x768,39.813,338.215,341.499,8,823011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,2,7/11/17 9:29,7/11/17 9:57,IP Address,174.56.160.177,100,1660,True,7/11/17 9:57,R_2dilxRn6CQIkSpM,...,A) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1280x1024,15.488,206.050,207.592,5,693364
129,3,7/11/17 10:04,7/11/17 10:09,IP Address,72.178.19.52,100,266,True,7/11/17 10:09,R_USdxK5pi2tCFYml,...,B) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1600x1200,3.608,38.498,39.256,5,480287
130,1,7/11/17 9:48,7/11/17 10:01,IP Address,108.129.28.29,100,769,True,7/11/17 10:01,R_2RQGUeimYPmh1hg,...,A) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1366x768,25.522,112.643,113.863,5,366474
131,1,7/11/17 9:29,7/11/17 9:35,IP Address,68.59.64.228,100,367,True,7/11/17 9:35,R_2wQzxx3OQOy7nTz,...,C) Wednesday,Chrome,59.0.3071.115,Windows NT 10.0,2560x1440,0.747,0.747,163.784,1,422330
132,3,7/9/17 19:25,7/9/17 19:40,IP Address,172.3.120.221,100,894,True,7/9/17 19:40,R_VI11N6dgsCK9Rjb,...,D) Friday,Chrome,59.0.3071.115,Windows NT 6.3,1366x768,3.438,16.102,184.007,10,96336
133,2,7/11/17 9:51,7/11/17 10:03,IP Address,107.167.229.84,100,719,True,7/11/17 10:03,R_1C1l13zhDStI1z2,...,A) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1366x768,2.099,167.290,168.468,21,364688
134,2,7/11/17 10:12,7/11/17 10:19,IP Address,68.114.108.36,100,366,True,7/11/17 10:19,R_1dn2g9Qpk2KSPSF,...,A) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1360x768,14.087,57.015,58.201,5,436519
135,1,7/10/17 9:40,7/10/17 10:04,IP Address,173.17.164.176,100,1435,True,7/10/17 10:04,R_d6Gn0obUkO8mIBr,...,A) Monday,Firefox,54,Windows NT 6.1,1680x945,36.862,187.843,190.269,6,365957
136,2,7/9/17 19:53,7/9/17 20:11,IP Address,68.206.234.129,100,1040,True,7/9/17 20:11,R_3QE4Az90Wqgofni,...,A) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1366x768,42.439,142.036,145.186,6,124478
137,2,7/9/17 19:48,7/9/17 19:56,IP Address,66.87.121.144,100,457,True,7/9/17 19:56,R_279BMz0EQUWoiau,...,B) Tuesday,Chrome,59.0.3071.115,Macintosh,1366x768,7.377,126.747,128.447,9,260362
138,3,7/11/17 9:48,7/11/17 10:08,IP Address,99.46.169.184,100,1214,True,7/11/17 10:08,R_3NLe6ovX3QwpyQT,...,B) Monday,Firefox,54,Windows NT 10.0,1600x900,24.446,84.821,85.613,6,719435
139,3,7/9/17 19:22,7/9/17 19:36,IP Address,184.91.255.0,100,829,True,7/9/17 19:36,R_3fMExJslD95Z6d5,...,B) Monday,Chrome iPhone,59.0.3071.102,iPhone,414x736,1.452,137.015,137.818,38,537986
140,1,7/10/17 9:30,7/10/17 9:54,IP Address,97.103.1.40,100,1467,True,7/10/17 9:54,R_t04u0XUcFM1UJJD,...,A) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1366x768,70.881,192.938,194.812,5,929096
141,2,7/11/17 15:26,7/11/17 15:39,IP Address,97.103.19.17,100,789,True,7/11/17 15:39,R_2atoOnClYUYuTn5,...,A) Monday,Firefox,54,Windows NT 10.0,1366x768,15.864,103.574,104.875,8,297238
142,1,7/10/17 10:08,7/10/17 10:12,IP Address,72.189.106.155,100,207,True,7/10/17 10:12,R_3VQWm75MLQ9BzS9,...,E) Friday,Chrome,48.0.2564.97,Windows NT 6.1,1600x900,8.506,15.898,16.471,6,979828
143,2,7/10/17 10:02,7/10/17 10:05,IP Address,72.189.106.155,100,151,True,7/10/17 10:05,R_1fjdjsQZaWUeulz,...,D) Thursday,Chrome,48.0.2564.97,Windows NT 6.1,1600x900,1.009,20.790,21.960,5,232605
144,2,7/11/17 9:34,7/11/17 9:47,IP Address,68.205.250.236,100,784,True,7/11/17 9:47,R_1go6b9b8R0F7Md3,...,A) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1920x1080,20.733,160.306,161.258,5,307381
145,3,7/10/17 9:29,7/10/17 9:38,IP Address,50.89.180.123,100,510,True,7/10/17 9:38,R_3fVPEsVprp0mhHg,...,B) Monday,Chrome,58.0.3029.140,CrOS x86_64 9334.72.0,1366x768,23.218,89.346,90.835,5,382232
146,1,7/9/17 19:54,7/9/17 20:07,IP Address,68.200.95.124,100,767,True,7/9/17 20:07,R_1pPvMiAUJELjZIA,...,C) Wednesday,Chrome,59.0.3071.115,Windows NT 10.0,1366x768,13.484,122.867,124.554,5,677554
147,3,7/10/17 10:14,7/10/17 10:23,IP Address,47.201.205.198,100,519,True,7/10/17 10:23,R_bBJXvFYxjj6TDhf,...,B) Monday,Chrome,59.0.3071.115,Windows NT 10.0,2560x1080,25.815,81.129,81.975,7,137939
148,2,7/10/17 9:39,7/10/17 9:55,IP Address,65.35.90.154,100,971,True,7/10/17 9:55,R_3dM6UQgBrnICgQs,...,A) Monday,Chrome,59.0.3071.115,Windows NT 6.3,1600x900,46.338,96.406,96.753,5,997672
149,1,7/9/17 19:23,7/9/17 19:40,IP Address,75.76.60.225,100,1017,True,7/9/17 19:40,R_ezYk6AIIy5GZSAF,...,A) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1366x768,33.482,136.852,138.129,7,843214
150,3,7/11/17 9:37,7/11/17 9:46,IP Address,73.23.153.157,100,566,True,7/11/17 9:46,R_PTKzo2jWjdPklGx,...,B) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1366x768,15.428,110.359,111.826,5,354501
151,1,7/10/17 10:09,7/10/17 10:21,IP Address,99.66.16.161,100,737,True,7/10/17 10:21,R_2VxdRWiS5AZsyFF,...,A) Monday,Chrome,58.0.3029.110,Windows NT 6.1,1366x768,14.495,81.661,83.139,5,274000
152,2,7/9/17 22:19,7/9/17 22:41,IP Address,99.38.225.2,100,1345,True,7/9/17 22:41,R_1KdUczeeml4SIEs,...,A) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1920x1080,93.216,225.690,227.867,5,574156
153,3,7/10/17 9:41,7/10/17 9:44,IP Address,98.242.255.44,100,195,True,7/10/17 9:44,R_25NJoaWRlMlGgMY,...,B) Monday,Firefox,54,Windows NT 10.0,1280x720,3.066,31.985,33.005,7,432550
154,3,7/11/17 9:46,7/11/17 10:07,IP Address,177.228.56.238,100,1214,True,7/11/17 10:07,R_1pXwXQETM7C6ERX,...,B) Monday,Chrome,59.0.3071.115,Windows NT 10.0,1366x768,4.116,78.610,79.564,12,569572
155,1,7/9/17 19:24,7/9/17 19:50,IP Address,110.54.202.63,100,1547,True,7/9/17 19:50,R_30elnz4Fc9PlBlg,...,A) Monday,Firefox,53,Android 4.4.2,600x976,21.687,121.504,122.328,36,453168
156,3,7/11/17 9:42,7/11/17 10:03,IP Address,177.252.251.116,100,1236,True,7/11/17 10:03,R_22MofKfZwCeB4CU,...,B) Monday,Chrome,51.0.2704.106,Macintosh,1440x900,25.083,98.992,101.319,5,229105
157,1,7/10/17 9:29,7/10/17 9:45,IP Address,190.45.169.96,100,922,True,7/10/17 9:45,R_XzZKs2UlLFPMCkh,...,B) Tuesday,Chrome,59.0.3071.115,Windows NT 10.0,1536x864,51.319,213.070,214.030,5,780981

In [6]:
# Create scoring mechanisms

scores = [0]

for i in range(1,len(df)):
    score = 0
    if (str(df['Group'][i])) == '1':
        if (str(df['1a'][i][0])) == 'C':
            score += 1
        if (str(df['2a'][i][0])) == 'B':
            score += 1
        if (str(df['3a'][i][0])) == 'C':
            score += 1
        if (str(df['4a'][i][0])) == 'B':
            score += 1
        if (str(df['5a'][i][0])) == 'C':
            score += 1
        if (str(df['6a'][i][0])) == 'C':
            score += 1
        if (str(df['7a'][i][0])) == 'D':
            score += 1
        if (str(df['8a'][i][0])) == 'A':
            score += 1
        if (str(df['9a'][i][0])) == 'B':
            score += 1
        if (str(df['10a'][i][0])) == 'A':
            score += 1
        if (str(df['11a'][i][0])) == 'D':
            score += 1
        if (str(df['12a'][i][0])) == 'D':
            score += 1
        if (str(df['13a'][i][0])) == 'D':
            score += 1
        if (str(df['14a'][i][0])) == 'D':
            score += 1
        if (str(df['15a'][i][0])) == 'D':
            score += 1
        if (str(df['16a'][i][0])) == 'B':
            score += 1
        if (str(df['17a'][i][0])) == 'A':
            score += 1
        if (str(df['18a'][i][0])) == 'C':
            score += 1
        if (str(df['19a'][i][0])) == 'B':
            score += 1
        if (str(df['20a'][i][0])) == 'A':
            score += 1
        scores.append(score)
        print i, score
    elif (str(df['Group'][i])) == '2':
        if (str(df['1a'][i][0])) == 'A':
            score += 1
        if (str(df['2a'][i][0])) == 'A':
            score += 1
        if (str(df['3a'][i][0])) == 'A':
            score += 1
        if (str(df['4a'][i][0])) == 'A':
            score += 1
        if (str(df['5a'][i][0])) == 'A':
            score += 1
        if (str(df['6a'][i][0])) == 'A':
            score += 1
        if (str(df['7a'][i][0])) == 'A':
            score += 1
        if (str(df['8a'][i][0])) == 'A':
            score += 1
        if (str(df['9a'][i][0])) == 'A':
            score += 1
        if (str(df['10a'][i][0])) == 'A':
            score += 1
        if (str(df['11a'][i][0])) == 'A':
            score += 1
        if (str(df['12a'][i][0])) == 'A':
            score += 1
        if (str(df['13a'][i][0])) == 'A':
            score += 1
        if (str(df['14a'][i][0])) == 'A':
            score += 1
        if (str(df['15a'][i][0])) == 'A':
            score += 1
        if (str(df['16a'][i][0])) == 'A':
            score += 1
        if (str(df['17a'][i][0])) == 'A':
            score += 1
        if (str(df['18a'][i][0])) == 'A':
            score += 1
        if (str(df['19a'][i][0])) == 'A':
            score += 1
        if (str(df['20a'][i][0])) == 'A':
            score += 1
        scores.append(score)
        print i, score
    elif (str(df['Group'][i])) == '3':
        if (str(df['1a'][i][0])) == 'A':
            score += 1
        if (str(df['2a'][i][0])) == 'B':
            score += 1
        if (str(df['3a'][i][0])) == 'C':
            score += 1
        if (str(df['4a'][i][0])) == 'A':
            score += 1
        if (str(df['5a'][i][0])) == 'B':
            score += 1
        if (str(df['6a'][i][0])) == 'C':
            score += 1
        if (str(df['7a'][i][0])) == 'A':
            score += 1
        if (str(df['8a'][i][0])) == 'B':
            score += 1
        if (str(df['9a'][i][0])) == 'C':
            score += 1
        if (str(df['10a'][i][0])) == 'A':
            score += 1
        if (str(df['11a'][i][0])) == 'B':
            score += 1
        if (str(df['12a'][i][0])) == 'C':
            score += 1
        if (str(df['13a'][i][0])) == 'A':
            score += 1
        if (str(df['14a'][i][0])) == 'B':
            score += 1
        if (str(df['15a'][i][0])) == 'C':
            score += 1
        if (str(df['16a'][i][0])) == 'A':
            score += 1
        if (str(df['17a'][i][0])) == 'B':
            score += 1
        if (str(df['18a'][i][0])) == 'C':
            score += 1
        if (str(df['19a'][i][0])) == 'A':
            score += 1
        if (str(df['20a'][i][0])) == 'B':
            score += 1
        scores.append(score)
        print i, score

1 10
2 9
3 16
4 10
5 10
6 11
7 7
8 10
9 13
10 14
11 12
12 16
13 10
14 7
15 6
16 9
17 5
18 11
19 12
20 10
21 16
22 11
23 14
24 8
25 13
26 15
27 7
28 13
29 10
30 10
31 13
32 16
33 14
34 13
35 6
36 13
37 10
38 7
39 7
40 4
41 11
42 10
43 6
44 10
45 9
46 4
47 10
48 6
49 12
50 8
51 12
52 8
53 7
54 13
55 12
56 10
57 8
58 12
59 12
60 10
61 8
62 4
63 2
64 15
65 7
66 14
67 5
68 6
69 6
70 6
71 8
72 7
73 9
74 12
75 12
76 12
77 8
78 8
79 6
80 11
81 3
82 4
83 6
84 12
85 13
86 7
87 11
88 15
89 12
90 9
91 8
92 19
93 14
94 11
95 10
96 11
97 10
98 8
99 10
100 9
101 10
102 14
103 13
104 7
105 2
106 10
107 10
108 9
109 8
110 13
111 11
112 7
113 10
114 8
115 3
116 10
117 13
118 9
119 5
120 6
121 11
122 7
123 8
124 7
125 4
126 5
127 6
128 14
129 6
130 10
131 7
132 3
133 11
134 13
135 13
136 9
137 3
138 10
139 11
140 8
141 11
142 3
143 9
144 13
145 7
146 5
147 6
148 6
149 12
150 3
151 14
152 16
153 7
154 8
155 9
156 9
157 9

In [7]:
#df['Unnamed: 0']
df['final_score'] = scores

In [8]:
df.head()

,Group,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,...,21a_Browser,21a_Version,21a_Operating System,21a_Resolution,22a_First Click,22a_Last Click,22a_Page Submit,22a_Click Count,mTurkCode,final_score
0,2,7/11/17 9:46,7/11/17 9:56,IP Address,98.232.116.238,100,601,True,7/11/17 9:56,R_2bTLUgDtdE9neLd,...,Chrome,59.0.3071.115,Windows NT 10.0,1120x700,16.207,93.311,93.643,6,495836,0
1,3,7/11/17 9:41,7/11/17 10:03,IP Address,204.52.135.124,100,1332,True,7/11/17 10:03,R_12M5kh04xdIFw5e,...,Chrome,59.0.3071.86,Windows NT 6.1,1536x864,10.499,120.931,121.864,6,489065,10
2,3,7/10/17 9:29,7/10/17 9:39,IP Address,73.254.83.211,100,569,True,7/10/17 9:39,R_1NU5yKb58Kn7GvL,...,Chrome,59.0.3071.115,Windows NT 10.0,1920x1080,60.059,209.186,209.829,6,260422,9
3,3,7/11/17 9:35,7/11/17 10:04,IP Address,98.146.231.128,100,1689,True,7/11/17 10:04,R_2Bx0cD1QFJz4D9n,...,Chrome,59.0.3071.115,Windows NT 10.0,1920x1080,14.740,216.488,217.087,6,60785,16
4,3,7/9/17 19:29,7/9/17 19:52,IP Address,65.183.218.6,100,1398,True,7/9/17 19:52,R_r7Sd4ykeDFOFnTH,...,Firefox,54,Windows NT 10.0,1920x1080,5.470,218.036,225.177,21,888418,10

In [9]:
df.to_csv('scored241.csv')

In [10]:
df['Group'].groupby(df['Group']).count()

Group
1    54
2    53
3    51
Name: Group, dtype: int64

In [11]:
# Create scoring mechanisms

score1a = []
score1b = []
score1c = []
score2a = []
score2b = []
score2c = []
score3a = []
score3b = []
score3c = []
score4a = []
score4b = []
score4c = []
score5a = []
score5b = []
score5c = []
score6a = []
score6b = []
score6c = []
score7a = []
score7b = []
score7c = []
score8a = []
score8b = []
score8c = []
score9a = []
score9b = []
score9c = []
score10a = []
score10b = []
score10c = []
score11a = []
score11b = []
score11c = []
score12a = []
score12b = []
score12c = []
score13a = []
score13b = []
score13c = []
score14a = []
score14b = []
score14c = []
score15a = []
score15b = []
score15c = []
score16a = []
score16b = []
score16c = []
score17a = []
score17b = []
score17c = []
score18a = []
score18b = []
score18c = []
score19a = []
score19b = []
score19c = []
score20a = []
score20b = []
score20c = []

for i in range(1,len(df)):
    score = 0
    score2 = 0
    score3 = 0
    score4 = 0
    score5 = 0
    score6 = 0
    score7 = 0
    score8 = 0
    score9 = 0
    score10 = 0
    score11 = 0
    score12 = 0
    score13 = 0
    score14 = 0
    score15 = 0
    score16 = 0
    score17 = 0
    score18 = 0
    score19 = 0
    score20 = 0
    if (str(df['Group'][i])) == '1':
        if (str(df['1a'][i][0])) == 'C':
            score += 1
            score1a.append(score)
        if (str(df['2a'][i][0])) == 'B':
            score2 += 1
            score2a.append(score2)
        if (str(df['3a'][i][0])) == 'C':
            score3 += 1
            score3a.append(score3)
        if (str(df['4a'][i][0])) == 'B':
            score4 += 1
            score4a.append(score4)
        if (str(df['5a'][i][0])) == 'C':
            score5 += 1
            score5a.append(score5)
        if (str(df['6a'][i][0])) == 'C':
            score6 += 1
            score6a.append(score6)
        if (str(df['7a'][i][0])) == 'D':
            score7 += 1
            score7a.append(score7)
        if (str(df['8a'][i][0])) == 'A':
            score8 += 1
            score8a.append(score8)
        if (str(df['9a'][i][0])) == 'B':
            score9 += 1
            score9a.append(score9)
        if (str(df['10a'][i][0])) == 'A':
            score10 += 1
            score10a.append(score10)
        if (str(df['11a'][i][0])) == 'D':
            score11 += 1
            score11a.append(score11)
        if (str(df['12a'][i][0])) == 'D':
            score12 += 1
            score12a.append(score12)
        if (str(df['13a'][i][0])) == 'D':
            score13 += 1
            score13a.append(score13)
        if (str(df['14a'][i][0])) == 'D':
            score14 += 1
            score14a.append(score14)
        if (str(df['15a'][i][0])) == 'D':
            score15 += 1
            score15a.append(score15)
        if (str(df['16a'][i][0])) == 'B':
            score16 += 1
            score16a.append(score16)
        if (str(df['17a'][i][0])) == 'A':
            score17 += 1
            score17a.append(score17)
        if (str(df['18a'][i][0])) == 'C':
            score18 += 1
            score18a.append(score18)
        if (str(df['19a'][i][0])) == 'B':
            score19 += 1
            score19a.append(score19)
        if (str(df['20a'][i][0])) == 'A':
            score20 += 1
            score20a.append(score20)
    elif (str(df['Group'][i])) == '2':
        if (str(df['1a'][i][0])) == 'A':
            score += 1
            score1b.append(score)
        if (str(df['2a'][i][0])) == 'A':
            score2 += 1
            score2b.append(score2)
        if (str(df['3a'][i][0])) == 'A':
            score3 += 1
            score3b.append(score3)
        if (str(df['4a'][i][0])) == 'A':
            score4 += 1
            score4b.append(score4)
        if (str(df['5a'][i][0])) == 'A':
            score5 += 1
            score5b.append(score5)
        if (str(df['6a'][i][0])) == 'A':
            score6 += 1
            score6b.append(score6)
        if (str(df['7a'][i][0])) == 'A':
            score7 += 1
            score7b.append(score7)
        if (str(df['8a'][i][0])) == 'A':
            score8 += 1
            score8b.append(score8)
        if (str(df['9a'][i][0])) == 'A':
            score9 += 1
            score9b.append(score9)
        if (str(df['10a'][i][0])) == 'A':
            score10 += 1
            score10b.append(score10)
        if (str(df['11a'][i][0])) == 'A':
            score11 += 1
            score11b.append(score11)
        if (str(df['12a'][i][0])) == 'A':
            score12 += 1
            score12b.append(score12)
        if (str(df['13a'][i][0])) == 'A':
            score13 += 1
            score13b.append(score13)
        if (str(df['14a'][i][0])) == 'A':
            score14 += 1
            score14b.append(score14)
        if (str(df['15a'][i][0])) == 'A':
            score15 += 1
            score15b.append(score15)
        if (str(df['16a'][i][0])) == 'A':
            score16 += 1
            score16b.append(score16)
        if (str(df['17a'][i][0])) == 'A':
            score17 += 1
            score17b.append(score17)
        if (str(df['18a'][i][0])) == 'A':
            score18 += 1
            score18b.append(score18)
        if (str(df['19a'][i][0])) == 'A':
            score19 += 1
            score19b.append(score19)
        if (str(df['20a'][i][0])) == 'A':
            score20 += 1
            score20b.append(score20)
    elif (str(df['Group'][i])) == '3':
        if (str(df['1a'][i][0])) == 'A':
            score += 1
            score1c.append(score)
        if (str(df['2a'][i][0])) == 'B':
            score2 += 1
            score2c.append(score2)
        if (str(df['3a'][i][0])) == 'C':
            score3 += 1
            score3c.append(score3)
        if (str(df['4a'][i][0])) == 'A':
            score4 += 1
            score4c.append(score4)
        if (str(df['5a'][i][0])) == 'B':
            score5 += 1
            score5c.append(score5)
        if (str(df['6a'][i][0])) == 'C':
            score6 += 1
            score6c.append(score6)
        if (str(df['7a'][i][0])) == 'A':
            score7 += 1
            score7c.append(score7)
        if (str(df['8a'][i][0])) == 'B':
            score8 += 1
            score8c.append(score8)
        if (str(df['9a'][i][0])) == 'C':
            score9 += 1
            score9c.append(score9)
        if (str(df['10a'][i][0])) == 'A':
            score10 += 1
            score10c.append(score10)
        if (str(df['11a'][i][0])) == 'B':
            score11 += 1
            score11c.append(score11)
        if (str(df['12a'][i][0])) == 'C':
            score12 += 1
            score12c.append(score12)
        if (str(df['13a'][i][0])) == 'A':
            score13 += 1
            score13c.append(score13)
        if (str(df['14a'][i][0])) == 'B':
            score14 += 1
            score14c.append(score14)
        if (str(df['15a'][i][0])) == 'C':
            score15 += 1
            score15c.append(score15)
        if (str(df['16a'][i][0])) == 'A':
            score16 += 1
            score16c.append(score16)
        if (str(df['17a'][i][0])) == 'B':
            score17 += 1
            score17c.append(score17)
        if (str(df['18a'][i][0])) == 'C':
            score18 += 1
            score18c.append(score18)
        if (str(df['19a'][i][0])) == 'A':
            score19 += 1
            score19c.append(score19)
        if (str(df['20a'][i][0])) == 'B':
            score20 += 1
            score20c.append(score20)

print(sum(score19a))
print(sum(score19b))
print(sum(score19c))

28
27
26

In [12]:
# I want to grab score by time to take test bucket within each group
# I want to grab score by time of day bucket within each group
# I want to grab the score distribution by gender within each group G1, G2, G3
# I want to grab the score distribution by technology within each group
# I want to look into click count

# Do any of the tests from 203 or earlier in the course seem relevant here (beyond regression)?

list(df)

['Group',
 'StartDate',
 'EndDate',
 'Status',
 'IPAddress',
 'Progress',
 'Duration (in seconds)',
 'Finished',
 'RecordedDate',
 'ResponseId',
 'RecipientLastName',
 'RecipientFirstName',
 'RecipientEmail',
 'ExternalReference',
 'LocationLatitude',
 'LocationLongitude',
 'DistributionChannel',
 'UserLanguage',
 'G1',
 'G2',
 'G3',
 '1a',
 '2a',
 '3a',
 '4a',
 '5a',
 '6a',
 '7a',
 '8a',
 '9a',
 '10a',
 '11a',
 '12a',
 '13a',
 '14a',
 '15a',
 '16a',
 '17a',
 '18a',
 '19a',
 '20a',
 '21a_Browser',
 '21a_Version',
 '21a_Operating System',
 '21a_Resolution',
 '22a_First Click',
 '22a_Last Click',
 '22a_Page Submit',
 '22a_Click Count',
 'mTurkCode',
 'final_score']

In [13]:
df['final_score'].groupby(df['Group']).mean()

Group
1    9.611111
2    8.792453
3    9.647059
Name: final_score, dtype: float64

In [14]:
df['final_score'].groupby(df['G1']).mean()

G1
Female    9.404762
Male      9.260274
Name: final_score, dtype: float64

In [15]:
df['final_score'].groupby(df['G1']).count()

G1
Female    84
Male      73
Name: final_score, dtype: int64

In [16]:
df['final_score'].groupby(df['G2']).mean()

G2
Associate degree in college (2-year)                                       8.629630
Bachelor's degree in college (4-year)                                      9.836066
Doctoral degree                                                            6.000000
High school graduate (high school diploma or equivalent including GED)     9.000000
Master's degree                                                           11.000000
Professional degree (JD, MD)                                              13.500000
Some college but no degree                                                 8.777778
Name: final_score, dtype: float64

In [17]:
df['final_score'].groupby(df['G2']).count()

G2
Associate degree in college (2-year)                                      27
Bachelor's degree in college (4-year)                                     61
Doctoral degree                                                            1
High school graduate (high school diploma or equivalent including GED)    23
Master's degree                                                            8
Professional degree (JD, MD)                                               2
Some college but no degree                                                36
Name: final_score, dtype: int64

In [18]:
df['final_score'].groupby(df['G3']).mean()

G3
18-27    8.875000
28-37    9.455882
38-47    9.520000
> 47     9.640000
Name: final_score, dtype: float64

In [19]:
df['final_score'].groupby(df['G3']).count()

G3
18-27    40
28-37    68
38-47    25
> 47     25
Name: final_score, dtype: int64

In [20]:
df['Duration (in seconds)'].convert_objects(convert_dates=False, convert_numeric=True)

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

0       601
1      1332
2       569
3      1689
4      1398
5      1167
6      1212
7       845
8      1503
9       998
10     1191
11      936
12      858
13      849
14      410
15      640
16     1453
17     1544
18      677
19     1760
20      973
21      746
22     1183
23     1436
24      625
25      868
26      823
27     1294
28      865
29      391
       ...
128    1660
129     266
130     769
131     367
132     894
133     719
134     366
135    1435
136    1040
137     457
138    1214
139     829
140    1467
141     789
142     207
143     151
144     784
145     510
146     767
147     519
148     971
149    1017
150     566
151     737
152    1345
153     195
154    1214
155    1547
156    1236
157     922
Name: Duration (in seconds), dtype: int64

In [21]:
# Could create a column w/ time buckets by seconds then add here.

df.groupby(['Group', 'G1', 'G2', 'G3']).agg({'final_score': "mean",      
                                     'Group': "count", 
                                     'Duration (in seconds)': "median"})

                                                                       Group  \
Group G1     G2                                                 G3
1     Female Associate degree in college (2-year)               18-27      1
                                                                28-37      1
                                                                38-47      1
             Bachelor's degree in college (4-year)              18-27      1
                                                                28-37      1
                                                                38-47      1
                                                                > 47       3
             High school graduate (high school diploma or eq... 28-37      3
                                                                38-47      4
                                                                > 47       2
             Professional degree (JD, MD)                       28-37      1
             Some college but no degree                         18-27      4
                                                                28-37      4
                                                                > 47       1
      Male   Associate degree in college (2-year)               18-27      2
                                                                28-37      1
                                                                38-47      1
             Bachelor's degree in college (4-year)              18-27      3
                                                                28-37      6
                                                                38-47      1
                                                                > 47       1
             Doctoral degree                                    38-47      1
             High school graduate (high school diploma or eq... 18-27      1
                                                                28-37      2
             Professional degree (JD, MD)                       28-37      1
             Some college but no degree                         18-27      2
                                                                28-37      3
                                                                38-47      1
2     Female Associate degree in college (2-year)               18-27      1
                                                                28-37      2
...                                                                      ...
      Male   Bachelor's degree in college (4-year)              38-47      3
             High school graduate (high school diploma or eq... 28-37      1
                                                                > 47       1
             Master's degree                                    > 47       1
             Some college but no degree                         28-37      3
                                                                38-47      2
                                                                > 47       2
3     Female Associate degree in college (2-year)               18-27      2
                                                                28-37      2
             Bachelor's degree in college (4-year)              18-27      3
                                                                28-37      6
                                                                38-47      2
                                                                > 47       5
             High school graduate (high school diploma or eq... 28-37      1
                                                                > 47       1
             Master's degree                                    28-37      3
             Some college but no degree                         28-37      1
      Male   Associate degree in college (2-year)               18-27      2
                                                                28-37      3
                                                                > 47       1
             Bachelor's degree in college (4-year)              18-27      3
                                                                28-37      3
                                                                38-47      1
             High school graduate (high school diploma or eq... 18-27      2
                                                                28-37      2
             Master's degree                                    28-37      1
                                                                > 47       2
             Some college but no degree                         18-27      1
                                                                28-37      2
                                                                38-47      1

                                                                       final_score  \
Group G1     G2                                                 G3
1     Female Associate degree in college (2-year)               18-27    10.000000
                                                                28-37     8.000000
                                                                38-47     8.000000
             Bachelor's degree in college (4-year)              18-27     9.000000
                                                                28-37    10.000000
                                                                38-47     8.000000
                                                                > 47      9.000000
             High school graduate (high school diploma or eq... 28-37    12.000000
                                                                38-47     9.250000
                                                                > 47      9.500000
             Professional degree (JD, MD)                       28-37    13.000000
             Some college but no degree                         18-27     9.500000
                                                                28-37     9.250000
                                                                > 47      9.000000
      Male   Associate degree in college (2-year)               18-27     6.500000
                                                                28-37     8.000000
                                                                38-47     8.000000
             Bachelor's degree in college (4-year)              18-27    11.333333
                                                                28-37    10.000000
                                                                38-47    12.000000
                                                                > 47     15.000000
             Doctoral degree                                    38-47     6.000000
             High school graduate (high school diploma or eq... 18-27     9.000000
                                                                28-37     8.500000
             Professional degree (JD, MD)                       28-37    14.000000
             Some college but no degree                         18-27     7.000000
                                                                28-37    10.333333
                                                                38-47     9.000000
2     Female Associate degree in college (2-year)               18-27    11.000000
                                                                28-37     9.000000
...                                                                            ...
      Male   Bachelor's degree in college (4-year)              38-47    13.333333
             High school graduate (high school diploma or eq... 28-37     2.000000
                                                                > 47     10.000000
             Master's degree                                    > 47      6.000000
             Some college but no degree                         28-37     8.666667
                                                                38-47     9.000000
                                                                > 47     12.000000
3     Female Associate degree in college (2-year)               18-27     8.000000
                                                                28-37    10.000000
             Bachelor's degree in college (4-year)              18-27    10.333333
                                                                28-37     9.166667
                                                                38-47    13.500000
                                                                > 47      9.000000
             High school graduate (high school diploma or eq... 28-37     4.000000
                                                                > 47      9.000000
             Master's degree                                    28-37    12.333333
             Some college but no degree                         28-37    12.000000
      Male   Associate degree in college (2-year)               18-27    12.500000
                                                                28-37     7.000000
                                                                > 47      9.000000
             Bachelor's degree in college (4-year)              18-27     7.666667
                                                                28-37    13.000000
                                                                38-47    10.000000
             High school graduate (high school diploma or eq... 18-27    11.000000
                                                                28-37     8.500000
             Master's degree                                    28-37    13.000000
                                                                > 47     12.500000
             Some college but no degree                         18-27     5.000000
                                                                28-37     4.500000
                                                                38-47     7.000000

                                                                       Duration (in seconds)
Group G1     G2                                                 G3
1     Female Associate degree in college (2-year)               18-27                 1240.0
                                                                28-37                  744.0
                                                                38-47                  680.0
             Bachelor's degree in college (4-year)              18-27                  922.0
                                                                28-37                  391.0
                                                                38-47                  919.0
                                                                > 47                   737.0
             High school graduate (high school diploma or eq... 28-37                 1379.0
                                                                38-47                  892.0
                                                                > 47                   828.5
             Professional degree (JD, MD)                       28-37                 1312.0
             Some college but no degree                         18-27                  867.5
                                                                28-37                  862.0
                                                                > 47                  1149.0
      Male   Associate degree in college (2-year)               18-27                  758.5
                                                                28-37                 1074.0
                                                                38-47                  642.0
             Bachelor's degree in college (4-year)              18-27                  746.0
                                                                28-37                 1048.0
                                                                38-47                 1016.0
                                                                > 47                  1581.0
             Doctoral degree                                    38-47                 1604.0
             High school graduate (high school diploma or eq... 18-27                 1453.0
                                                                28-37                  518.0
             Professional degree (JD, MD)                       28-37                  415.0
             Some college but no degree                         18-27                  393.0
                                                                28-37                  806.0
                                                                38-47                 1547.0
2     Female Associate degree in college (2-year)               18-27                  789.0
                                                                28-37                  771.0
...                                                                                      ...
      Male   Bachelor's degree in college (4-year)              38-47                  823.0
             High school graduate (high school diploma or eq... 28-37                  297.0
                                                                > 47                  1116.0
             Master's degree                                    > 47                   783.0
             Some college but no degree                         28-37                  544.0
                                                                38-47                  980.5
                                                                > 47                  1224.5
3     Female Associate degree in college (2-year)               18-27                 1028.0
                                                                28-37                  780.5
             Bachelor's degree in college (4-year)              18-27                 1236.0
                                                                28-37                 1101.0
                                                                38-47                 1061.5
                                                                > 47                  1332.0
             High school graduate (high school diploma or eq... 28-37                  138.0
                                                                > 47                   569.0
             Master's degree                                    28-37                  917.0
             Some college but no degree                         28-37                  705.0
      Male   Associate degree in college (2-year)               18-27                 1055.0
                                                                28-37                  773.0
                                                                > 47                  1043.0
             Bachelor's degree in college (4-year)              18-27                  829.0
                                                                28-37                  868.0
                                                                38-47                 1117.0
             High school graduate (high school diploma or eq... 18-27                 1094.5
                                                                28-37                  865.5
             Master's degree                                    28-37                 1035.0
                                                                > 47                  1594.0
             Some college but no degree                         18-27                  127.0
                                                                28-37                  580.0
                                                                38-47                  510.0

[76 rows x 3 columns]

In [22]:
df.groupby(['Group', 'G1']).agg({'Group': "count"})

              Group
Group G1
1     Female     28
      Male       26
2     Female     30
      Male       23
3     Female     26
      Male       24

In [23]:
df.groupby(['Group', 'G3']).agg({'Group': "count"})

             Group
Group G3
1     18-27     14
      28-37     23
      38-47     10
      > 47       7
2     18-27     13
      28-37     20
      38-47     11
      > 47       9
3     18-27     13
      28-37     25
      38-47      4
      > 47       9

In [24]:
df.groupby(['Group', 'G3']).agg({'final_score': "sum"})

             final_score
Group G3
1     18-27          127
      28-37          234
      38-47           88
      > 47            70
2     18-27          106
      28-37          171
      38-47          106
      > 47            83
3     18-27          122
      28-37          238
      38-47           44
      > 47            88

In [25]:
df.groupby(['Group', 'G2']).agg({'final_score': "mean"})

                                                          final_score
Group G2
1     Associate degree in college (2-year)                   7.857143
      Bachelor's degree in college (4-year)                 10.294118
      Doctoral degree                                        6.000000
      High school graduate (high school diploma or eq...     9.833333
      Professional degree (JD, MD)                          13.500000
      Some college but no degree                             9.200000
2     Associate degree in college (2-year)                   8.700000
      Bachelor's degree in college (4-year)                  9.200000
      High school graduate (high school diploma or eq...     7.400000
      Master's degree                                        6.500000
      Some college but no degree                             9.062500
3     Associate degree in college (2-year)                   9.100000
      Bachelor's degree in college (4-year)                 10.041667
      High school graduate (high school diploma or eq...     8.666667
      Master's degree                                       12.500000
      Some college but no degree                             6.600000

In [26]:
# df['Duration (in seconds)'].describe()

bins = [0, 661.25, 899.50, 1249.75, 48055.00]
group_names = ['Less than 10 mins', '10-15 mins', '15-20 mins', '20+ mins']
time_buckets = pd.cut(df['Duration (in seconds)'], bins, labels=group_names)
df['time_buckets'] = pd.cut(df['Duration (in seconds)'], bins, labels=group_names)
time_buckets

0      Less than 10 mins
1               20+ mins
2      Less than 10 mins
3               20+ mins
4               20+ mins
5             15-20 mins
6             15-20 mins
7             10-15 mins
8               20+ mins
9             15-20 mins
10            15-20 mins
11            15-20 mins
12            10-15 mins
13            10-15 mins
14     Less than 10 mins
15     Less than 10 mins
16              20+ mins
17              20+ mins
18            10-15 mins
19              20+ mins
20            15-20 mins
21            10-15 mins
22            15-20 mins
23              20+ mins
24     Less than 10 mins
25            10-15 mins
26            10-15 mins
27              20+ mins
28            10-15 mins
29     Less than 10 mins
             ...
128             20+ mins
129    Less than 10 mins
130           10-15 mins
131    Less than 10 mins
132           10-15 mins
133           10-15 mins
134    Less than 10 mins
135             20+ mins
136           15-20 mins
137    Less than 10 mins
138           15-20 mins
139           10-15 mins
140             20+ mins
141           10-15 mins
142    Less than 10 mins
143    Less than 10 mins
144           10-15 mins
145    Less than 10 mins
146           10-15 mins
147    Less than 10 mins
148           15-20 mins
149           15-20 mins
150    Less than 10 mins
151           10-15 mins
152             20+ mins
153    Less than 10 mins
154           15-20 mins
155             20+ mins
156           15-20 mins
157           15-20 mins
Name: Duration (in seconds), dtype: category
Categories (4, object): [Less than 10 mins < 10-15 mins < 15-20 mins < 20+ mins]

In [33]:
# df.head()
df.groupby(['Group', 'time_buckets']).agg({'Group': "count",
                                          'final_score': "mean"})

                         final_score  Group
Group time_buckets
1     Less than 10 mins     7.750000     12
      10-15 mins           10.500000     16
      15-20 mins            9.818182     11
      20+ mins             10.000000     15
2     Less than 10 mins     6.687500     16
      10-15 mins            9.000000     13
      15-20 mins           10.000000     12
      20+ mins             10.166667     12
3     Less than 10 mins     6.000000     12
      10-15 mins           10.300000     10
      15-20 mins           10.562500     16
      20+ mins             11.384615     13

In [31]:
# df.head()
df.groupby(['Group', '21a_Browser']).agg({'Group': "count", 
                                          'final_score': "mean"})

                     final_score  Group
Group 21a_Browser
1     Chrome            9.804348     46
      Firefox           8.500000      8
2     Chrome            8.906977     43
      Firefox           8.300000     10
3     Chrome            9.526316     38
      Chrome iPhone    11.000000      1
      Firefox           9.916667     12

In [36]:
df.groupby(['21a_Operating System']).agg({'Group': "count", 
                                          'final_score': "mean"})

                       final_score  Group
21a_Operating System
Android 4.4.2             9.000000      1
CrOS x86_64 9334.72.0     7.000000      1
CrOS x86_64 9460.67.0    10.000000      1
Linux x86_64             14.000000      1
Macintosh                 9.277778     18
Windows NT 10.0           9.511364     88
Windows NT 5.1            6.500000      2
Windows NT 6.1            9.250000     32
Windows NT 6.2            8.000000      1
Windows NT 6.3            8.750000     12
iPhone                   11.000000      1

In [38]:
df.groupby(['Group', '21a_Operating System']).agg({'Group': "count", 
                                          'final_score': "mean"})

                             final_score  Group
Group 21a_Operating System
1     Android 4.4.2             9.000000      1
      CrOS x86_64 9460.67.0    10.000000      1
      Macintosh                 9.333333      6
      Windows NT 10.0           9.607143     28
      Windows NT 6.1            9.928571     14
      Windows NT 6.3            9.000000      4
2     Linux x86_64             14.000000      1
      Macintosh                 5.600000      5
      Windows NT 10.0           9.766667     30
      Windows NT 5.1            6.500000      2
      Windows NT 6.1            7.700000     10
      Windows NT 6.3            8.200000      5
3     CrOS x86_64 9334.72.0     7.000000      1
      Macintosh                11.857143      7
      Windows NT 10.0           9.166667     30
      Windows NT 6.1           10.000000      8
      Windows NT 6.2            8.000000      1
      Windows NT 6.3            9.333333      3
      iPhone                   11.000000      1

In [35]:
df.groupby(['Group']).agg({'Duration (in seconds)': "median"})

       Duration (in seconds)
Group
1                      881.5
2                      846.0
3                      983.0

In [44]:
df['RecordedDate'] = pd.to_datetime(df['RecordedDate'])
df['hod'] = [r.hour for r in df.RecordedDate]

In [45]:
df.groupby(['Group', 'hod']).agg({'Group': "count", 
                                          'final_score': "mean"})

           final_score  Group
Group hod
1     9       9.409091     22
      10     10.583333     12
      15      8.000000      1
      19      9.555556     18
      20      5.000000      1
2     9       8.041667     24
      10      8.200000     10
      11     11.000000      1
      15     11.000000      1
      19      9.461538     13
      20     10.000000      3
      22     16.000000      1
3     9       9.952381     21
      10     10.250000     12
      15      5.000000      1
      19      9.000000     16
      20     11.000000      1